.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    background-color: #d9d9d9;
}
.nav-cont{
    text-align: center;
}
.nav-cont .me-auto {
    display: flex;
    justify-content: center;
    width: 100%;
  }
.home-nav{
    font-size: 1.2em;
    font-weight: bold;
}
.nav{
    font-size: 1.2em;
    color: gray;
}
.nav:hover{
    color: #0e9f34;
}
.navbar-nav .nav-link.active{
    color: #0e9f34;
}